<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Millenia Soft</h1>

  <h2>
    This is a mock game company homepage called  
    <a href="http://milleniasoft.org/">Millenia Soft</a>.
    
  </h2>
  
  <p>
  	For creating products, log in as:<br>
  	admin user email: millenia@mirai.org<br>
  	password: millenia
  </p>
  
  <div class="row-fluid">
	  <div class="news span6">
	  	News placeholder
	  </div>
	  <div class="twitter span5">
	  	Twitter feed placeholder
	  </div>
</div>  
	<br>
	
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

