<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Millenia Soft</h1>

  <h2>
    This is the home page for the all the great 
    <a href="http://milleniasoft.org/">Millenia Soft</a>
    .
  </h2>
  
  <div class="row-fluid">
	  <div class="span6">
	  	News
	  </div>
	  <div class="span6">
	  	Twitter feed
	  </div>
</div>  

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>