<% provide(:title, 'Shop') %>
<div class="hero-unit">
  <h1>WebShop</h1>

  <h2>
    Shop at our webshop
  </h2>
  
  <p>
	
  </p>
		
  <%= link_to "Go to webshop", '#', class: "btn btn-large btn-primary" %>

	
</div>

