<% provide(:title, @product.title) %>
<div class="hero-unit container-fluid">
<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= @product.title %>
        
      </h1>
      
      <p>
      	<%= @product.description %>
      </p>
      	
      
      
      <% if signed_in? %>
      <%= link_to "Edit", edit_product_path , class: "btn btn-medium btn btn-primary" %>
      	
      <% end %>
            
    </section>
  </aside>
</div>
</div>
